.category-title {
    font-weight: bold;
}


/* Category Button Styling */
.category-button {
    display: inline-block;
    padding: 8px 18px;
    margin: 0.5rem;
    border: 1px solid rgba(110, 85, 73, 0.2);
    border-radius: 16px;
    font-size: 1rem;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.category-button:hover {
    background-color: #e6c200;
}